<!DOCTYPE html>
<html lang="en">
<head>
   <title>{%  block title  %} My Feedback Site {% endblock %}</title>
   <style>
body {font-family: Arial, Helvetica, sans-serif; padding: 20px; background-color: #f5f5ff;}
header,footer {background-color: black; padding: 10px; color: white; text-align: center ;}
nav a {margin:  0 10px ; color: white; text-decoration: none;}

main {
    background: white ; padding: 20px; margin:    ;
}
  
   </style>
</head>
<body>
    <header>
        <h1>  Feedback Page</h1>
        <nav>
            <a href="feedback">Feedback</a>
        </nav>
    </header>
    <main>

        {% block content   %} {% endblock %}
    </main>
    <footer>
        <p>
            &copy;2025 CODINGWISE SITE
        </p>
    </footer>
</body>
</html>